.consultations {
    background: url(../img/consultations/bg2.jpg) center (center/cover) no-repeat;
    padding: 100px 0;
    color: $white;
    &__subtitle {
        margin-bottom: 36px;
        max-width: 400px;
    }
}

.page-title {
}

.page-subtitle {
}
