body {
  font-size: 14px;
  line-height: 150%;
  font-weight: 300;
  font-family: "MuseoModerno";
  color: $black;
}
a {
  color: inherit;
  transition: 0.3s;
}
a:visited {
  color: red;
}
a:hover {
  color: $rose;
}
.container942,
.container952 {
  margin: 0 auto;
  width: 100%;
  padding: 0 15px;
}
.container942 {
  max-width: 972px;
}
.container952 {
  max-width: 982px;
}

.button {
  font-weight: 500;
  padding: 6px 20px;
  background-color: $red;
  text-transform: uppercase;
  border-radius: 5px;
  color: $white;
  border: none;
  position: relative;
  overflow: hidden;
  &--card {
    width: 135px;
    height: 44px;
  }
  &--modal-close {
    background-color: transparent;
    color: $red;
    position: absolute;
    font-size: 40px;
    line-height: 50px;
    top: -17px;
    right: -80px;
  }
  &::after {
    content: "";
    display: block;
    height: 100%;
    width: 15px;
    background-color: $white;
    position: absolute;
    top: 0;
    left: -50px;
    transition: 0.6s;
    transform: skew(-30deg);
  }
  &:hover {
    transition: all 0.3s;

    &::after {
      left: 120%;
    }
  }
}

.page-title {
  text-align: center;
  font-weight: 700;
  font-size: 2.142857142857143em;
  text-transform: uppercase;

  &--text-left {
    text-align: left;
    font-size: 2.571428571428571em;
  }
}
.page-subtitle--text-left {
  text-align: left;
  font-weight: 500;
  font-size: 1.428571428571429em;
}
