.promo {
    // .promo__title
    padding: 21px 0 90px 0;
    color: $white;
    background: url("../img/promo/bg.jpg") center (center / cover) no-repeat;
    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 60px;
        padding-top: 90px;
    }
    &__title {
        font-weight: 700;
        font-size: 3em;
        text-transform: uppercase;
    }

    // .promo__subtitle

    &__subtitle {
        font-weight: 500;
        font-size: 1.714em;
        text-transform: uppercase;
    }

    // .promo__items

    &__items {
        max-width: 424px;
        display: flex;
        justify-content: space-between;
        gap: 2em;
    }

    // .promo__item

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 0 0 111px;
        gap: 8px;
        text-align: center;
        &:nth-child(1) {
            animation-delay: 0.6s;
        }
        &:nth-child(2) {
            animation-delay: 0.4s;
        }
        &:nth-child(3) {
            animation-delay: 0.2s;
        }
        img {
            max-width: 42px;
        }
    }

    // .promo__descr

    &__descr {
    }

    // .promo__btn

    &__btn {
        font-size: 1.142857142857143em;
        padding: 17px 42px;
        animation-delay: 0.8s;
    }

    // .promo__link

    &__link {
        font-size: 1.142857142857143em;
        margin-top: -52px;
    }

    // .promo__link--upper

    &__link--upper {
    }
}
